<div class='container invoice'>
    <form #form="ngForm" class='col-sm-12 invoiceForm' name='invoiceForm' (ngSubmit)="submitInvoice()">
        <div class="row">
          <label class="col-sm-4"> Customer Name </label>
          <select id="customerName" [(ngModel)]="invoiceModel.Id" name='customerName' class="col-sm-6">
            <option *ngFor="let customer of customers" [value]="customer.Id">{{customer.Name}}</option>
          </select>
        </div>
        <!-- <div  class="row">
          <label class="col-sm-4"> Phone Number </label>
          <input type='text' [(ngModel)]="customer.PhoneNumber" name='phoneNumber' class="col-sm-6"/>
        </div> -->
        <div class="row">
          <!-- <label class="col-sm-4"> Services </label>
          
          <button class="col-sm-1 btn btn-primary" (click)="addService(service.id)" style="margin: 0 5px">Add</button> -->
          <label class="col-sm-4"> Email Id </label>
          <input type='text' [(ngModel)]="customer.EmailId" name='email' class="col-sm-6"/>
        </div>
        <div  class="row">
          <label class="col-sm-4"> Serviced By </label>
          <input type='text' [(ngModel)]="customer.employee.id" name='servicedBy' class="col-sm-6"/>
        </div>
        <div  class="row">
          <label class="col-sm-4"> Services </label>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="addItems()" style="margin: 0 5px" data-whatever="@mdo">Add Items</button>
        </div>
        <div  class="row">
          <table>
            <tr>
              <td>Item No</td>
              <td>Invoice Item</td>
              <td>Cost per unit</td>
              <td>No. of Units</td>
              <td>Cost</td>
            </tr>
            <tr *ngFor="let item of invoiceItems">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.costPerUnit}}</td>
                <td>{{item.noOfUnits}}</td>
                <td>{{item.noOfUnits*item.costPerUnit}}</td>
            </tr>
          </table>
        </div>
    </form>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Item Name</label>
            <select class='form-control' [(ngModel)]="service.name" class="col-sm-6">
              <option *ngFor="let service of servicesList" [value]="service.id" >{{service.name}}></option>
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Cost per Unit</label>
            <input type='text' [(ngModel)]="service.costPerUnit" name='costPerUnit' class="col-sm-6"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Item</button>
      </div>
    </div>
  </div>
</div>