<table class="table table-striped" *ngIf="items.length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Is IsAvailable</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items;let i = index;">
        <td>{{item.Id}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Category}}</td>
        <td><span class='fa fa-inr'></span> {{item.Price}}</td>
        <td><span class='fa fa-inr'></span> {{item.IsAvailable}}</td>
        <td>
          <span class='fa fa-pencil p-1' (click)="editItem(item)"></span>
          <!-- <span class='fa fa-trash p-1' (click)="deleteItem(item)"></span> -->
        </td>
    </tr>
  </tbody>
</table>
