<div class="example-button-row">
  <button  class="col-sm-4" type="button" id="openModalButton" class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="#exampleModal" data-backdrop="false" >
    Add Item
  </button>
</div>
<br/>

<div class="col-lg-12">
  <mat-grid-list cols="3" rowHeight="2:1">
    <div  *ngFor="let item of items;let i = index;">
      <mat-grid-tile class="item-tile">
        <div>{{item.Id}}</div>
        <div>{{item.Name}}</div>
        <div>{{item.Category}}</div>
        <div>{{item.Price}}</div>
        <div>{{item.IsAvailable}}</div>
        <div class='fa fa-pencil p-1' (click)="editItem(item)"></div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" class='col-sm-12 addItemForm' name='addItemForm' >
          <div class="row">
            <label class="col-sm-4"> Item name </label>
            <select id="itemId" [(ngModel)]="item.Id" name='itemName' class="col-sm-8" (change)="getAttrValue('Price',item.Id)">
              <option *ngFor="let it of servicesList" [value]="it.Id">{{it.Name}}</option>
            </select>
          </div>
          <div  class="row">
            <label class="col-sm-4"> Category </label>
            <input type='number' [(ngModel)]="item.Quantity" name='quantity' class="col-sm-8"/>
          </div>
          <div class="row">
            <label class="col-sm-4"> Price </label>
            <input type='number' [(ngModel)]="item.UnitPrice" name='Price' disabled class="col-sm-8"/>
          </div>
          <div  class="row">
            <label class="col-sm-4"> Is Available </label>
            <input type='number' [(ngModel)]="item.DiscountPercent" name='discountPercent' class="col-sm-8"/>
        </div> 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModel(item)">Close</button>
        <button *ngIf='!isEditMode' type="button" class="btn btn-primary" (click)="addItemToInvoice()">Add Item to Invoice</button>
      </div>
    </div>
  </div>
</div>
