/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'node_modules/font-awesome/css/font-awesome.min.css';

mat-table {
    padding-top:15px;
  }

  .mat-toolbar{
    background-color: #e91d63;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.50rem;
  }

  .mat-drawer-backdrop{
    z-index: 0 !important;
  }

.mat-sort-header-button{
    color: black !important; 
    font-weight: bold !important;
}

.mat-header-cell {
    font-size: 14px !important;
}

.filterButton{
    right: 11%;
    position: absolute !important;
  }
  
.filterElement{
    right: 11%;
    position: absolute !important;
}

.resetElement{
    right: 8%;
    position: absolute !important;
}

.addButton{
    right:5%;
    position: absolute !important;
}

.dateTimeForm{
    display: inline-block !important;
    max-width: 40%;
}

.mat-form {
    width: 100%;
}

.full-width {
    width: 100%;
}

.customWidthClass{
    flex: 0 0 75px;
    width: 150px;
    padding: 0px 10px 0px 5px !important;
 }

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.container{
    margin-left: 0px;
}

.breadCrumb{
    font-size: 16px;
}

.red{
    color: red;
}

.green{
    color: green;
}


/* Portal Customization */
.logo{
    width:90%;
    padding: 25px 25px 25px 25px;
}

.menu-dark {
    color: #DCDCDC !important;
    background: #404E67;
}

.menu-light{
    background: #fff;
}

.whiteColor{
    color:white;
    padding-bottom: 15px;
}

/* Navbar Customization */

.bg-Default {
    background-color: #607D8B !important;
}

.bg-Primary {
    background-color: #00B5B8 !important;
}

.bg-Success{
    background-color: #35bd94 !important;
}

.bg-Danger {
    background-color: #FF7588 !important;
}

.bg-Blue {
    background-color: #2196F3 !important;
}

.bg-Cyan {
    background-color: #00BCD4 !important;
}

.bg-Pink {
    background-color: #E91E63 !important;
}

.bg-gradient-x-Default {
    background-image: -webkit-gradient(linear,left top,right top,from(#404E67),to(#6F85AD));
    background-image: -webkit-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: -moz-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: -o-linear-gradient(left,#404E67 0,#6F85AD 100%);
    background-image: linear-gradient(to right,#404E67 0,#6F85AD 100%);
    background-repeat: repeat-x;
}

.bg-gradient-x-Success {
    background-image: -webkit-gradient(linear,left top,right top,from(#10C888),to(#5CE0B8));
    background-image: -webkit-linear-gradient(left,#10C888 0,#5CE0B8 100%);
    background-image: -moz-linear-gradient(left,#10C888 0,#5CE0B8 100%);
    background-image: -o-linear-gradient(left,#10C888 0,#5CE0B8 100%);
    background-image: linear-gradient(to right,#10C888 0,#5CE0B8 100%);
    background-repeat: repeat-x;
}

.bg-gradient-x-Primary {
    background-image: -webkit-gradient(linear,left top,right top,from(#00A5A8),to(#4DCBCD));
    background-image: -webkit-linear-gradient(left,#00A5A8 0,#4DCBCD 100%);
    background-image: -moz-linear-gradient(left,#00A5A8 0,#4DCBCD 100%);
    background-image: -o-linear-gradient(left,#00A5A8 0,#4DCBCD 100%);
    background-image: linear-gradient(to right,#00A5A8 0,#4DCBCD 100%);
    background-repeat: repeat-x;
}

.bg-gradient-x-Danger {
    background-image: -webkit-gradient(linear,left top,right top,from(#FF6275),to(#FF9EAC));
    background-image: -webkit-linear-gradient(left,#FF6275 0,#FF9EAC 100%);
    background-image: -moz-linear-gradient(left,#FF6275 0,#FF9EAC 100%);
    background-image: -o-linear-gradient(left,#FF6275 0,#FF9EAC 100%);
    background-image: linear-gradient(to right,#FF6275 0,#FF9EAC 100%);
    background-repeat: repeat-x;
}

.bg-gradient-x-Blue {
    background-image: -webkit-gradient(linear,left top,right top,from(#1976D2),to(#64B5F6));
    background-image: -webkit-linear-gradient(left,#1976D2 0,#64B5F6 100%);
    background-image: -moz-linear-gradient(left,#1976D2 0,#64B5F6 100%);
    background-image: -o-linear-gradient(left,#1976D2 0,#64B5F6 100%);
    background-image: linear-gradient(to right,#1976D2 0,#64B5F6 100%);
    background-repeat: repeat-x;
}

.bg-gradient-x-Cyan {
    background-image: -webkit-gradient(linear,left top,right top,from(#0097A7),to(#4DD0E1));
    background-image: -webkit-linear-gradient(left,#0097A7 0,#4DD0E1 100%);
    background-image: -moz-linear-gradient(left,#0097A7 0,#4DD0E1 100%);
    background-image: -o-linear-gradient(left,#0097A7 0,#4DD0E1 100%);
    background-image: linear-gradient(to right,#0097A7 0,#4DD0E1 100%);
    background-repeat: repeat-x;
}

.bg-gradient-x-Pink {
    background-image: -webkit-gradient(linear,left top,right top,from(#C2185B),to(#F06292));
    background-image: -webkit-linear-gradient(left,#C2185B 0,#F06292 100%);
    background-image: -moz-linear-gradient(left,#C2185B 0,#F06292 100%);
    background-image: -o-linear-gradient(left,#C2185B 0,#F06292 100%);
    background-image: linear-gradient(to right,#C2185B 0,#F06292 100%);
    background-repeat: repeat-x;
}
/* Navbar Customization */

.toolbar-rightSpan{
    left:90%;
    position:sticky;
    color: white;
    font-size: 14;
    padding:0px 2px 0px 2px;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: 26px !important;
    padding-bottom: 20px !important;
  }

.mat-drawer-inner-container{
    background-color: #1f1f1f;
}

  .sideNavBar {
    background-color: #1f1f1f;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 16rem;
}

.mat-toolbar-single-row{
    height: 94px !important;
    padding-bottom: 12px !important;
}

.container{
    margin-left: 13% !important;
}


.modal-content{
    background-color: #4b4747 !important;
    border-radius: 1.3rem !important;
}

.table{
    color: #ffffff !important;
}

.theme-pink{
    background-color: #E91E63 !important;
    color: white !important;
}

.row{
    padding:5px 5px 5px 5px;
}

label{
    padding-top: 8px;
    text-align: center;
}

mat-grid-tile {
    background: #FF6275;
}

.action-pink{
    background-color: #e8d5de !important;
    color: black !important;
}

.mat-table{
    background-color: #303030;
    color:#fff !important;
}

.mat-cell {
    color: white !important;
}

.mat-header-cell{
    color: white !important;
}