<section>
  <div class="example-button-row">
    <button mat-flat-button class="theme-pink" (click)="openAddDialog()">+ &nbsp; Create Customer</button>
  </div>
</section>
<br/>
<mat-divider></mat-divider>

<mat-table #table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> No. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'"> {{element.Id}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> Name </th>
    <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="PhoneNumber">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> PhoneNumber </th>
    <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'"> {{element.PhoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="RegisteredOn">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> RegisteredOn </th>
    <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'"> {{element.RegisteredOn | date: 'mediumDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
         <button mat-raised-button color="accent" (click)="openEditDialog(element)">Edit</button> 
    </td>
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>

<div *ngIf="dataSource.data.length === 0">
  No Records Found!
  </div>